$buttons_Width: 180px;
body {
    height: 100%;
    display: block;
}
.common-buttons
{
    float: left;
    display: block;
    width: $buttons_Width / 6;
    font-size: 20px;
    color: $white;
    i
    {
        cursor: pointer;
    }
}
#navigation
{
    width: 100%;
    height: 28px;
    background: $blue;
    display: block;
    top: 0;
    left: 0;
    border-bottom: 2px solid darken($blue, 10%);
    box-sizing: border-box;
    padding-top: 3px;
    #back
    {
        @extend .common-buttons;
    }
    #forward
    {
        @extend .common-buttons;
    }
    #refresh
    {
        @extend .common-buttons;
    }
    #fave {
        @extend .common-buttons;
    }
    #list {
        @extend .common-buttons;
    }
    #omnibox
    {
        float: left;
        display: block;
        width: calc(100% - #{$buttons_Width});
        color: #333333;
        input
        {
            border: none;
            outline: none;
            height: 18px;
            width: 90%;
            border-radius: 2px;
            padding-left: 1px;
            color: $black;
            font-family: monospace;
            margin-top: -1px;
        }
    }
    #console
    {
        @extend .common-buttons;
    }
    #fave-popup
    {
        display: none;
        position: fixed;
        right: 1px;
        color: $white;
        top: 29px;
        width: 180px;
        height: 200px;
        z-index: 20;
        padding: 1px;
        overflow-y: auto;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: $blue;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        .link
        {
            width: 100%;
            height: 32px;
            color: $white;
            font-family: monospace;
            font-size: 13px;
            text-decoration: none;
            text-align: left;
            display: block;
            line-height: 32px;
            .favicon
            {
                width: 32px;
                height: 32px;
                float: left;
                background: $white;
            }
        }
    }
}