html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    //height: 100%;
    display: block
}

.common-buttons, #navigation #back, #navigation #forward, #navigation #refresh, #navigation #fave, #navigation #list, #navigation #console {
    float: left;
    display: block;
    width: 30px;
    font-size: 20px;
    color: #eee
}

.common-buttons i, #navigation #back i, #navigation #forward i, #navigation #refresh i, #navigation #fave i, #navigation #list i, #navigation #console i {
    cursor: pointer
}

#navigation {
    width: 100%;
    height: 28px;
    background: #070F4E;
    display: block;
    top: 0;
    left: 0;
    border-bottom: 2px solid #03061f;
    box-sizing: border-box;
    padding-top: 3px
}

#navigation #omnibox {
    float: left;
    display: block;
    width: calc(100% - 180px);
    color: #333333
}

#navigation #omnibox input {
    border: none;
    outline: none;
    height: 18px;
    width: 90%;
    border-radius: 2px;
    padding-left: 1px;
    color: #333;
    font-family: monospace;
    margin-top: -1px
}

#navigation #fave-popup {
    display: none;
    position: fixed;
    right: 1px;
    color: #eee;
    top: 29px;
    width: 180px;
    height: 200px;
    z-index: 20;
    padding: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #070F4E;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)
}

#navigation #fave-popup .link {
    width: 100%;
    height: 32px;
    color: #eee;
    font-family: monospace;
    font-size: 13px;
    text-decoration: none;
    text-align: left;
    display: block;
    line-height: 32px
}

#navigation #fave-popup .link .favicon {
    width: 32px;
    height: 32px;
    float: left;
    background: #eee
}

#tabs {
    width: 100%;
    left: 0;
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    height: 40px;
    padding: 0;
    margin: 0;
    background: rgba(7, 15, 78, 0.7)
}

#tabs::-webkit-scrollbar {
    background: red;
    outline: none;
    border: none;
    height: 3px
}

#tabs::-webkit-scrollbar-thumb {
    background: white
}

#tabs .tab {
    margin: 0;
    width: 100px;
    background: #070F4E;
    display: inline-block;
    height: 40px;
    margin-left: -4px;
    color: #eee;
    text-align: left;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    box-sizing: border-box;
    border-right: #eee 1px solid;
    line-height: 32px
}

#tabs .tab .close {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    width: 20px;
    text-align: right;
    font-size: 14px;
    line-height: 0;
    font-family: monospace;
    background: #070F4E
}

#tabs .tab .close:hover {
    color: darkred
}

#tabs .tab:first-of-type {
    margin-left: 0
}

#views {
    position: relative
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh)
}
